{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyStats</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link media="all" rel="stylesheet" href="/css/index.css" />
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart', 'line']});
            var resizeList = [];
            function resize () {
                console.log("resize called")
                resizeList.forEach(element => { element() });
            };
            window.onload = resize;
            window.onresize = resize;
            window.addEventListener('DOMContentLoaded', resize);
        </script>
        {{ $best := "Best" -}}
        {{ $hr := "HR" -}}
        {{ $list := "List" -}}
        {{ $plot := "Plot" -}}
        {{ $steps := "Steps" -}}
        {{ $top := "Top" -}}
        <button id="theme-toggle">Toggle Theme</button>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, '{{ $plot }}')" id="defaultOpen">Plot</button>
            <button class="tablinks" onclick="openTab(event, '{{ $best }}')">Strava's Running PBs</button>
            <button class="tablinks" onclick="openTab(event, '{{ $list }}')">List</button>
            <button class="tablinks" onclick="openTab(event, '{{ $top }}')">Top</button>
            <button class="tablinks" onclick="openTab(event, '{{ $steps }}')">Steps</button>
            <button class="tablinks" onclick="openTab(event, '{{ $hr }}')">Resting HR</button>
        </div>
        <div id="{{ $plot }}" class="tabcontent">
            {{ template "plot-tab" .Plot }}
        </div>
        <div id="{{ $best }}" class="tabcontent">
            {{ template "best-tab" .Best }}
        </div>
        <div id="{{ $list }}" class="tabcontent">
            {{ template "list-tab" .List }}
        </div>
        <div id="{{ $top }}" class="tabcontent">
            {{ template "top-tab" .Top }}
        </div>
        <div id="{{ $steps }}" class="tabcontent">
            {{ template "steps-tab" .Steps }}
        </div>
        <div id="{{ $hr }}" class="tabcontent">
            {{ template "heartrate-tab" .HeartRate }}
        </div>
        <script>
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
                document.body.classList.add('dark');
            } else if (savedTheme === 'light') {
                document.body.classList.add('light');
            }
            const toggleButton = document.getElementById('theme-toggle');
            // Toggle theme and save preference
            toggleButton.addEventListener('click', () => {
                console.log("toggleButton triggered")
                if (document.body.classList.contains('dark')) {
                    console.log("classList dark")
                    document.body.classList.remove('dark');
                    document.body.classList.add('light');
                    localStorage.setItem('theme', 'light');
                } else if (document.body.classList.contains('light')) {
                    console.log("classList light")
                    document.body.classList.remove('light');
                    localStorage.removeItem('theme'); // fallback to system preference
                } else {
                    console.log("classList neither")
                    document.body.classList.add('dark');
                    localStorage.setItem('theme', 'dark');
                }
            });
            function openTab(evt, tabName) {
              // Declare all variables
              var i, tabcontent, tablinks;
            
              // Get all elements with class="tabcontent" and hide them
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
            
              // Get all elements with class="tablinks" and remove the class "active"
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
            
              // Show the current tab, and add an "active" class to the button that opened the tab
              document.getElementById(tabName).style.display = "block";
              evt.currentTarget.className += " active";
              if (tabName == "{{ $plot }}") {
                plotDrawLineColors();
              }
              if (tabName == "{{ $steps }}") {
                stepsDrawLineColors();
              }
              if (tabName == "{{ $hr }}") {
                hrDrawLineColors();
              }
            }
            document.getElementById("defaultOpen").click();
            function chartOptions(vAxis) {
                const body = document.body;
                const isDark = body.classList.contains('dark') ||
                    (!body.classList.contains('light') &&
                    window.matchMedia('(prefers-color-scheme: dark)').matches);
                return {
                    height: 750,
                    width: '100%',
                    hAxis: { title: 'days', format: 'MMM dd' },
                    vAxis: { title: vAxis },
                    colors: [
                        "#0000ff", // 1
                        "#00ff00", // 2
                        "#ff0000", // 3
                        "#00ffff", // 4
                        "#ffff00", // 5
                        "#ff00ff", // 6
                        "#000088", // 7
                        "#008800", // 8
                        "#880000", // 9
                        "#00f000",
                        "#0000f0",
                    ],
                    backgroundColor: 'transparent',
                    legendTextStyle: { color: isDark ? '#ffffff' : '#000000' },
                    titleTextStyle: { color: isDark ? '#ffffff' : '#000000' },
                    pieSliceTextStyle: { color: isDark ? '#ffffff' : '#000000' }
                }
            }
        </script>
    </body>
</html>
{{ end }}


{{ block "sports" . }}
{{ $name := .Name }}
<div id="sports">
    <b>Types:</b>
    {{ range $t, $v := .Sports -}}
        <input type="checkbox" name="sport_{{ esc $t }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $t }}</label>
    {{ end }}
</div>
{{ end }}

{{ block "workouts" . }}
{{ $name := .Name }}
<div id="workouts">
    <b>Workout:</b>
    {{ range $t, $v := .Workouts -}}
        <input type="checkbox" name="wt_{{ esc $t }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $t }}</label>
    {{ end }}
</div>
{{ end }}

{{ block "years" . }}
{{ $name := .Name }}
<div id="years">
    <b>Years:</b>
    {{ range $y, $v := .Years -}}
        <input type="checkbox" name="year_{{ $y }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $y }}</label>    {{ end }}
</div>
{{ end }}
