{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyStats</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link media="all" rel="stylesheet" href="/css/index.css" />
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    </head>
    <body>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Plot')" id="defaultOpen">Plot</button>
            <button class="tablinks" onclick="openTab(event, 'List')">List</button>
            <button class="tablinks" onclick="openTab(event, 'Top')">Top</button>
        </div>
        <div id="Plot" class="tabcontent">
            {{ template "plot-tab" .Plot }}
        </div>
        <div id="List" class="tabcontent">
            {{ template "list-tab" .List }}
        </div>
        <div id="Top" class="tabcontent">
            {{ template "top-tab" .Top }}
        </div>
        <script>
            function openTab(evt, cityName) {
              // Declare all variables
              var i, tabcontent, tablinks;
            
              // Get all elements with class="tabcontent" and hide them
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
            
              // Get all elements with class="tablinks" and remove the class "active"
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
            
              // Show the current tab, and add an "active" class to the button that opened the tab
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();
        </script>
    </body>
</html>
{{ end }}

{{ block "plot-tab" . }}
{{ template "plot-form" .Form }}
<hr />
{{ template "plot-data" .Data }}
{{ end }}

{{ block "list-tab" . }}
{{ template "list-form" .Form }}
<hr />
{{ template "list-data" .Data }}
{{ end }}

{{ block "top-tab" . }}
{{ template "top-form" .Form }}
<hr />
{{ template "top-data" .Data }}
{{ end }}

{{ block "list-data" . }}
<div id="list-data">
{{ template "table-data" . }}
</div>
{{ end }}

{{ block "top-data" . }}
<div id="top-data">
{{ template "table-data" . }}
</div>
{{ end }}

{{ block "plot-form" . }}
<form hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot">
    <div id="month">
        Month:
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="EndMonth">
            {{ $endMonth := .EndMonth}}
            {{ range $m := N 1 13 }}
                <option value="{{ $m }}"{{ if eq $m $endMonth }}  SELECTED{{ end }}>{{ month $m }}</option>
            {{ end }}
        </select>
    </div>
    <div id="day">
        Day:
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="EndDay">
            {{ $endDay := .EndDay}}
            {{ range $d := N 1 32 }}
                <option value="{{ $d }}"{{ if eq $d $endDay }}  selected{{ end }}>{{ $d }}</option>
            {{ end }}
        </select>
    </div>
    <div id="years">
        Years:
        {{ range $y, $v := .Years }}
            <input type="checkbox" name="year_{{ $y }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot"><label>{{ $y }}</label>
        {{ end }}
    </div>
</form>
{{ end }}

{{ block "list-form" . }}
{{ $name := .Name}}
<form hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}">
    <div id="years">
        Years:
        {{ range $y, $v := .Years }}
            <input type="checkbox" name="year_{{ $y }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $y }}</label>
        {{ end }}
    </div>
</form>
{{ end }}

{{ block "top-form" . }}
{{ $name := .Name}}
<form hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}">
    <div id="years">
        Years:
        {{ range $y, $v := .Years }}
            <input type="checkbox" name="year_{{ $y }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $y }}</label>
        {{ end }}
    </div>
</form>
{{ end }}

{{ block "table-data" . }}
    <table>
        <thead>
            <tr>
            {{ range $s := .Headers }}
            <th>{{ $s }}</th>
            {{ end }}
        </tr>
        </thead>
        <tbody>
            {{ range $row := .Rows }}
                {{ $trimmed := joined $row }}
                {{ if ne $trimmed "" }}
                <tr>
                    {{ range $col := $row }}
                        <td>{{ $col }}</td>
                    {{ end }}
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
{{ end }}

{{ block "plot-data" . }}
<div id="plot-data">
    {{ template "plot-plot" . }}
    <hr />
    {{ template "plot-stats" . }}
</div>
{{ end }}

{{ block "plot-plot" . }}
<div id="plot" style="display: flex; flex-direction: column">
    {{ if .Filename -}}
    <img src="{{ .Filename }}" alt="" />
    {{ end -}}
</div>
{{ end }}

{{ block "plot-stats" . }}
<table>
    <thead>
        <tr>
          <th>{{ .Measurement }}</th>
          {{ range $s := .Years }}
          <th>{{ $s }}</th>
          {{ end }}
      </tr>
    </thead>
    <tbody>
        {{ range $month, $line := .Stats }}
            {{ $trimmed := joined $line }}
            {{ if ne $trimmed "" }}
            <tr>
                <th>{{ $m := inc $month }}{{ month $m }}</th>
                {{ range $col := $line }}
                    <td>{{ $col }}</td>
                {{ end }}
            </tr>
            {{ end }}
        {{ end }}
        <tr>
            <th>Total</th>
            {{ range $total := .Totals }}
                <th>{{ $total }}</th>
            {{ end }}
        </tr>
    </tbody>
</table>
{{ end }}
