{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyStats</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link media="all" rel="stylesheet" href="/css/index.css" />
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart', 'line']});
        </script>
        {{ $best := "Best" -}}
        {{ $hr := "HR" -}}
        {{ $list := "List" -}}
        {{ $plot := "Plot" -}}
        {{ $steps := "Steps" -}}
        {{ $top := "Top" -}}
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, '{{ $plot }}')" id="defaultOpen">Plot</button>
            <button class="tablinks" onclick="openTab(event, '{{ $best }}')">Strava's Running PBs</button>
            <button class="tablinks" onclick="openTab(event, '{{ $list }}')">List</button>
            <button class="tablinks" onclick="openTab(event, '{{ $top }}')">Top</button>
            <button class="tablinks" onclick="openTab(event, '{{ $steps }}')">Steps</button>
            <button class="tablinks" onclick="openTab(event, '{{ $hr }}')">Resting HR</button>
        </div>
        <div id="{{ $plot }}" class="tabcontent">
            {{ template "plot-tab" .Plot }}
        </div>
        <div id="{{ $best }}" class="tabcontent">
            {{ template "best-tab" .Best }}
        </div>
        <div id="{{ $list }}" class="tabcontent">
            {{ template "list-tab" .List }}
        </div>
        <div id="{{ $top }}" class="tabcontent">
            {{ template "top-tab" .Top }}
        </div>
        <div id="{{ $steps }}" class="tabcontent">
            {{ template "steps-tab" .Steps }}
        </div>
        <div id="{{ $hr }}" class="tabcontent">
            {{ template "heartrate-tab" .HeartRate }}
        </div>
        <script>
            function openTab(evt, tabName) {
              // Declare all variables
              var i, tabcontent, tablinks;
            
              // Get all elements with class="tabcontent" and hide them
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
            
              // Get all elements with class="tablinks" and remove the class "active"
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
            
              // Show the current tab, and add an "active" class to the button that opened the tab
              document.getElementById(tabName).style.display = "block";
              evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();
        </script>
    </body>
</html>
{{ end }}


{{ block "sports" . }}
{{ $name := .Name }}
<div id="sports">
    <b>Types:</b>
    {{ range $t, $v := .Sports -}}
        <input type="checkbox" name="sport_{{ esc $t }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $t }}</label>
    {{ end }}
</div>
{{ end }}

{{ block "workouts" . }}
{{ $name := .Name }}
<div id="workouts">
    <b>Workout:</b>
    {{ range $t, $v := .Workouts -}}
        <input type="checkbox" name="wt_{{ esc $t }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $t }}</label>
    {{ end }}
</div>
{{ end }}

{{ block "years" . }}
{{ $name := .Name }}
<div id="years">
    <b>Years:</b>
    {{ range $y, $v := .Years -}}
        <input type="checkbox" name="year_{{ $y }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#{{ $name }}-data" hx-post="/{{ $name }}"><label>{{ $y }}</label>    {{ end }}
</div>
{{ end }}
