{{ block "list-tab" . }}
{{ template "list-form" .Form }}
<hr />
{{ template "list-data" .Data }}
<hr />
<div id="list-event"></div>
{{ end }}

{{ block "list-form" . }}
<form hx-swap="outerHTML" hx-target="#list-data" hx-post="/list">
    {{ template "types" . }}
    {{ template "workouttypes" . }}
    {{ template "years" . }}
    <div id="list-name">
        <b>Name:</b><input name="name" type="text" hx-swap="outerHTML" hx-target="#list-data" hx-post="/list"></input>
    </div>
    <div id="list-limit">
        <b>Number of activities:</b>
        <select name="limit" hx-swap="outerHTML" hx-target="#list-data" hx-post="/list">
            <option{{ if eq .Limit 10 }} selected{{ end }}>10</option>
            <option{{ if eq .Limit 20 }} selected{{ end }}>20</option>
            <option{{ if eq .Limit 100 }} selected{{ end }}>100</option>
            <option{{ if eq .Limit 1000 }} selected{{ end }}>1000</option>
        </select>
    </div>
</form>
{{ end }}

{{ block "list-data" . }}
<div id="list-data">
    {{ len .Rows }} matches found.
    <table>
        <thead>
            <tr>
            {{ range $idx,$s := .Headers }}
            {{ if ne $idx 0 }}<th class="text">{{ $s }}</th>{{ end }}
            {{ end }}
        </tr>
        </thead>
        <tbody>
            {{ range $row := .Rows }}
                {{ $trimmed := joined $row }}
                {{ if ne $trimmed "" }}
                <tr>
                    {{ $stravaID := (index $row 0) }}
                    {{ range $idx, $col := $row }}
                        {{ if eq $idx 2 }}
                        <td class="text"><button hx-swap="outerHTML" hx-target="#list-event" hx-post="/event?id={{ $stravaID }}">{{ $col }}</button></td>
                        {{ else if eq $idx 7 }}
                        <td class="text">{{ $col }}</td>
                        {{ else if eq $idx 8 }}
                        <td class="text"><a href="{{ $col }}">{{ $col }}</a></td>
                        {{ else if ne $idx 0 }}
                        <td>{{ $col }}</input></td>
                        {{ end }}
                    {{ end }}
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

{{ block "list-event" . }}
<div id="list-event">
    {{ if ne .Name "" }}
    <b>Name:</b> {{ .Name }} ({{ .Date }})
    {{ end }}
    <table>
        <thead>
            <tr>
            {{ range $s := .Headers }}
            <th class="text">{{ $s }}</th>
            {{ end }}
        </tr>
        </thead>
        <tbody>
            {{ range $row := .Rows }}
                {{ $trimmed := joined $row }}
                {{ if ne $trimmed "" }}
                <tr>
                    {{ range $idx, $col := $row }}
                        <td>{{ $col }}</td>
                    {{ end }}
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
