{{ block "list-tab" . }}
{{ template "list-form" .Form }}
<hr />
{{ template "list-data" .Data }}
{{ end }}

{{ block "list-form" . }}
<form hx-swap="outerHTML" hx-target="#list-data" hx-post="/list">
    {{ template "types" . }}
    {{ template "workouttypes" . }}
    {{ template "years" . }}
    <div id="limit">
        Number of activities:
        <select name="limit" hx-swap="outerHTML" hx-target="#list-data" hx-post="/list">
            <option{{ if eq .Limit 10 }} selected{{ end }}>10</option>
            <option{{ if eq .Limit 20 }} selected{{ end }}>20</option>
            <option{{ if eq .Limit 100 }} selected{{ end }}>100</option>
        </select>
    </div>
</form>
{{ end }}

{{ block "list-data" . }}
<div id="list-data">
    <table>
        <thead>
            <tr>
            {{ range $s := .Headers }}
            <th>{{ $s }}</th>
            {{ end }}
        </tr>
        </thead>
        <tbody>
            {{ range $row := .Rows }}
                {{ $trimmed := joined $row }}
                {{ if ne $trimmed "" }}
                <tr>
                    {{ range $idx, $col := $row }}
                        {{ if eq $idx 7 }}
                        <td><a href="{{ $col }}">{{ $col }}</a></td>
                        {{ else }}
                        <td{{ if eq $idx 1 }} class="name"{{ end }}>{{ $col }}</td>
                        {{ end }}
                    {{ end }}
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
