{{ block "plot-tab" . }}
{{ template "plot-form" .Form }}
<hr />
{{ template "plot-data" .Data }}
{{ end }}

{{ block "plot-form" . }}
<form hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot">
    <div id="month">
        <b>Month:</b>
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="EndMonth">
            {{ $endMonth := .EndMonth -}}
            {{ range $m := N 1 13 -}}
                <option value="{{ $m }}"{{ if eq $m $endMonth }}  SELECTED{{ end }}>{{ month $m }}</option>
            {{ end }}
        </select>
    </div>
    <div id="day">
        <b>Day:</b>
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="EndDay">
            {{ $endDay := .EndDay -}}
            {{ range $d := N 1 32 -}}
                <option value="{{ $d }}"{{ if eq $d $endDay }}  selected{{ end }}>{{ $d }}</option>
            {{ end }}
        </select>
    </div>
    <div id="plot-period">
        <b>Period in table:</b>
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="Period">
            {{ $period := .Period -}}
            {{ range $p := .PeriodOptions -}}
                <option value="{{ $p }}"{{ if eq $p $period }}  selected{{ end }}>{{ $p }}</option>
            {{ end }}
        </select>
    </div>
    <div id="plot-measure">
        <b>Measure:</b>
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="Measure">
            {{ $measure := .Measure -}}
            {{ range $m := .MeasureOptions -}}
                <option value="{{ $m }}"{{ if eq $m $measure }}  selected{{ end }}>{{ $m }}</option>
            {{ end }}
        </select>
    </div>
    {{ template "sports" . }}
    {{ template "workouts" . }}
    {{ template "years" . }}
</form>
{{ end }}

{{ block "plot-data" . }}
<div id="plot-data">
    {{ template "plot-plot" . }}
    <hr />
    {{ template "plot-stats" . }}
</div>
{{ end }}

{{ block "plot-plot" . }}
<div id="plot" style="display: flex; flex-direction: column">
    <script type="text/javascript">
        google.charts.setOnLoadCallback(plotDrawLineColors);
        resizeList.push(plotDrawLineColors);
        function plotDrawLineColors() {
            if (google?.visualization?.DataTable === undefined) {
                return
            }
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'X');
            {{ range $year := .ScriptColumns -}}
            data.addColumn('number', '{{$year}}');
            {{ end }}
            data.addRows({{ .ScriptRows }});
            var formatter = new google.visualization.DateFormat({pattern: 'MMM dd'});
            formatter.format(data, 0);
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, chartOptions(
                        {{- if eq .Measure "time" }}"time (h)"
                        {{- else if eq .Measure "distance" }}"distance (km)"
                        {{- else if eq .Measure "elevation" }}"elevation (m)"
                        {{- else }}{{ .Measure }}
                        {{- end -}}
            ))
        };
    </script>
    <div class="chart" id="chart_div"></div>
</div>
{{ end }}

{{ block "plot-stats" . }}
<table>
    <thead>
        <tr>
          <th>{{ .Measure }}</th>
          {{ range $s := .Years }}
          <th>{{ $s }}</th>
          {{ end }}
      </tr>
    </thead>
    <tbody>
        {{ $period := .Period }}
        {{ range $t, $line := .Stats }}
            {{ $trimmed := joined $line }}
            {{ if ne $trimmed "" }}
            <tr>
                <th>{{ $t2 := inc $t }}{{ if eq $period "month" }}{{ month $t2 }}{{ else }}{{ $t2 }}{{ end }}</th>
                {{ range $col := $line }}
                    <td>{{ $col }}</td>
                {{ end }}
            </tr>
            {{ end }}
        {{ end }}
        <tr>
            <th>Total</th>
            {{ range $total := .Totals }}
                <th>{{ $total }}</th>
            {{ end }}
        </tr>
    </tbody>
</table>
{{ end }}
