{{ block "plot-tab" . }}
{{ template "plot-form" .Form }}
<hr />
{{ template "plot-data" .Data }}
{{ end }}

{{ block "plot-form" . }}
<form hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot">
    <div id="month">
        Month:
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="EndMonth">
            {{ $endMonth := .EndMonth}}
            {{ range $m := N 1 13 }}
                <option value="{{ $m }}"{{ if eq $m $endMonth }}  SELECTED{{ end }}>{{ month $m }}</option>
            {{ end }}
        </select>
    </div>
    <div id="day">
        Day:
        <select hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot" name="EndDay">
            {{ $endDay := .EndDay}}
            {{ range $d := N 1 32 }}
                <option value="{{ $d }}"{{ if eq $d $endDay }}  selected{{ end }}>{{ $d }}</option>
            {{ end }}
        </select>
    </div>
    <div id="years">
        Years:
        {{ range $y, $v := .Years }}
            <input type="checkbox" name="year_{{ $y }}"{{ if $v }} checked{{ end }} hx-swap="outerHTML" hx-target="#plot-data" hx-post="/plot"><label>{{ $y }}</label>
        {{ end }}
    </div>
</form>
{{ end }}

{{ block "plot-data" . }}
<div id="plot-data">
    {{ template "plot-plot" . }}
    <hr />
    {{ template "plot-stats" . }}
</div>
{{ end }}

{{ block "plot-plot" . }}
<div id="plot" style="display: flex; flex-direction: column">
    {{ if .Filename -}}
    <img src="{{ .Filename }}" alt="" />
    {{ end -}}
</div>
{{ end }}

{{ block "plot-stats" . }}
<table>
    <thead>
        <tr>
          <th>{{ .Measurement }}</th>
          {{ range $s := .Years }}
          <th>{{ $s }}</th>
          {{ end }}
      </tr>
    </thead>
    <tbody>
        {{ range $month, $line := .Stats }}
            {{ $trimmed := joined $line }}
            {{ if ne $trimmed "" }}
            <tr>
                <th>{{ $m := inc $month }}{{ month $m }}</th>
                {{ range $col := $line }}
                    <td>{{ $col }}</td>
                {{ end }}
            </tr>
            {{ end }}
        {{ end }}
        <tr>
            <th>Total</th>
            {{ range $total := .Totals }}
                <th>{{ $total }}</th>
            {{ end }}
        </tr>
    </tbody>
</table>
{{ end }}
